<div class="authorization-box">
    <form
        class="form"
        [formGroup]="form"
    >
        <tui-input class="form__item" formControlName="login">
            Введите логин
            <input
                tuiTextfield
                type="email"
            />
        </tui-input>
        <tui-error
            formControlName="login"
            [error]="[] | tuiFieldError | async"    
        ></tui-error>

        <tui-input class="form__item" formControlName="email">
            Введите свою почту
            <input
                tuiTextfield
                type="email"
            />
        </tui-input>
        <tui-error
            formControlName="email"
            [error]="[] | tuiFieldError | async"    
        ></tui-error>

        <tui-input-password class="form__item"  formControlName="password">
            Введите пароль
        </tui-input-password>
        <tui-error
            formControlName="password"
            [error]="[] | tuiFieldError | async"    
        ></tui-error>

        <button
            tuiButton
            size="m"
            (click)="signUp()"
        >
            Зарегистрироваться
        </button>
    </form>
</div>